<STYLE TYPE='text/css'>

BODY{ font-family:sans-serif; font-size:medium; font-weight:normal; }
P{ font-size:small; font-family:sans-serif; font-weight:normal; }
H1{ font-size:xx-large; font-family:sans-serif; font-weight:normal; }
H3{ font-size:x-large; font-family:sans-serif; font-weight:normal; }
H5{ font-size:large; font-family:sans-serif; font-weight:normal; }
PRE{ font-size:medium; font-family:sans-serif; font-weight:normal; }
A{ font-family:sans-serif; font-size:normal; }
SPAN{ font-family:sans-serif; font-size:normal; }
font-family:sans-serif; font-size:small; A:Hover{ font-family:sans-serif; font-size:small; }
</STYLE>
