<STYLE TYPE='text/css'>

BODY{ font-family:sans-serif; font-size:medium; font-weight:normal; }
P{ text-align:centre; font-size:small; font-family:sans-serif; font-weight:normal; }
H1{ text-align:centre; font-size:xx-large; font-family:sans-serif; font-weight:normal; }
H2{ text-align:centre; font-size:x-large; font-family:sans-serif; font-weight:normal; }
H3{ text-align:centre; font-size:large; font-family:sans-serif; font-weight:normal; }
H4{ text-align:centre; font-size:medium; font-family:sans-serif; font-weight:normal; }
H5{ text-align:centre; font-size:small; font-family:sans-serif; font-weight:normal; }
H6{ text-align:centre; font-size:smaller; font-family:sans-serif; font-weight:normal; }
PRE{ text-align:centre; font-size:medium; font-family:sans-serif; font-weight:normal; }
A{ text-align:centre; font-family:sans-serif; font-size:normal; color: rgb(255, 255, 255); }
A:Hover{ text-align:centre; font-family:sans-serif; font-size:normal; color: rgb(202, 202, 202); }
SPAN{ text-align:centre; font-family:sans-serif; font-size:normal; }
font-family:sans-serif; font-size:small; A:Hover{ font-family:sans-serif; font-size:small; }
</STYLE>